* {
    font-family: Garamond;
}

.home {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.home video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
    position: fixed;
}

.bloc {
    width: 85%;
    margin: 0 auto;
}

.header {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: normal;
    align-items: center;
    height: 100px;
}

.btnHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: flex-end;
    width: 100%;
}

.btnHeader button:hover,
.btn button:hover {
    border: 1px solid #FFEA11;
}

.btnHeader button {
    width: 200px;
    height: 46px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    border: 2px solid white;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title h2 {
    line-height: 85px;
}

.corps {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titleBody {
    margin-top: 100px;
}

.cube {
    width: 700px;
    height: 750px;
}

.cube>div {
    width: 800px;
    display: inline-block;
    text-align: left;
}

.cube p {
    transform: rotate(180deg);
    text-align: right;
}

.title h1 {
    font-size: 50px;
    font-weight: normal;
}

.title p {
    font-size: 18px;
}

.jaune {
    color: #FFEA11;
}

#white {
    color: white;
}

.pub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.pub>div {
    width: 300px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 20px;
}

.pub div:hover {
    background-color: rgba(109, 109, 109, 0.5);
    transform: scale(1.2);
}

.pub div>p {
    width: 200px;
    margin: 0 auto;
    font-size: 18px;
}

.blue {
    color: #0078AA;
}

.btn {
    margin-top: 100px;
}

.btn button {
    margin-top: 50px;
    width: 200px;
    height: 46px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    float: left;
    align-items: center;
}

#Btext {
    font-size: 18px;
    font-weight: normal;
}

.trait {
    font-size: 30px;
    border-top: 2px solid #FFEA11;
    width: 600px;
    margin: 0 auto;
    margin-top: 80px;
}

.trait>div {
    padding-top: 50px;
}

.footer {
    background-color: #03151D;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
    color: white;
    margin-top: 100px;
}


/* Inscription */

.inscription {
    background-image: url("../images/bcakground.png");
    background-position: center;
    background-size: cover;
    background-size: 100% 100%;
    height: 100vh;
}

.parentContainer {
    background-color: white;
    width: 550px;
    display: flex;
    justify-content: center;
    margin: 12px;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.btnContainer {
    margin-top: 70px;
}

.btnContainer button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 400px;
    border-radius: 10px;
    border: none;
    height: 55px;
}

.googleLogo img {
    margin-top: 2px;
    width: 50px;
    height: 50px;
}

.conectGoogle {
    margin-top: 18px;
    padding-left: 50px;
    font-size: 18px;
}

div>input {
    width: 396px;
    border: 1px solid #b9c4c9;
    height: 55px;
    background: transparent;
    font-size: 18px;
    margin-top: 10px;
}

div>label {
    float: left;
    margin-top: 30px;
    color: #758992;
}

.confirmerGoogle {
    margin-top: 15px;
    font-size: 18px;
}

#confirm {
    background-color: #0078AA;
    color: white;
}